<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>

    <div class="container">
        <div class="row justify-content-center">
          <div class="col-sm-8">
            <h1>PRIORITY</h1>
            <p class="description">A webpage that enlists a list of ranked colleges based on your priority</p>
            <a href="/register" class="btn btn-primary">Register</a>
            <br>
            <a href="/login" class="btn btn-dark">Login</a>
          </div>
        </div>
      </div>

</body>
</html>
